<a href="./">go to main page</a><br><br>

<DIV align="center" style="margin-bottom: 20px;"><h1>search with address</h1>
<form method="get" action="/deletedate">
<input style="display: flex;" type="search" name="address" placeholder="search here"><br><button>delete data</button></form><br>
{{#if msg1}}
<h1>data deleted</h1>
{{/if}}

{{#if msg2}}
<h1>data not deletedd</h1>
{{/if}}

</DIV>